<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://asemgmtwatch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/f05bd3e7-fe83-40ae-9dec-7f146792b60d/resourcegroups/skokiease-rg/providers/Microsoft.Web/sites/AseMgmtWatch</ResourceId>
    <UserName>$AseMgmtWatch</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://asemgmtwatch.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>